<!DOCTYPE html>
<html lang="en">
	<head>
	  <meta charset="utf-8">
	  <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Grand & Co</title>
    <link href="/style.css" rel="stylesheet" type="text/css"/>
    {{{block "head"}}}
  </head>
  <body>
    <div class="header">
      <h1 id="header-title" style="margin-bottom:0.25rem;">Grand &amp; Co <span style="float:right;display:none;" id="activity-indicator"><img src="https://cdn.glitch.com/e38916d0-efd4-4ede-a44d-0ce796960130%2Floading.gif?1523454053849"></span></h1>
      <small><a href="" id="pipedrive-link"></a></small>
    </div>
    <div class="box main">
      {{{body}}}
    </div>
    <div class="box sidebar" id="sidebar">
      {{{ block "sidebar" }}}
    </div>
    {{{ block "footer" }}}
  </body>
</html>  